# Git Ignore
*.jpg
Thumbs.db
*.aux
*.lof
*.log
*.pdf
*.gz
*.toc
*#*
*~*
*.swp
euler
*.xlsx
*.csv
FEATables.xlsx
# test
*.asv
*.eps
ansys_input.txt
log.txt
*.ini
*.BCS
*.esav
*.full
*.mntr
*.page
*.rst
*.stat
*.png
/MATLAB/*ANSYS_input.txt
/MATLAB/Equations.txt
*.lgw
*Temp*
*.lis
ANSYS/PRETAB_front
ANSYS/PRETAB_rear
ANSYS/PRETAB_rollover
ANSYS/PRETAB_side
ANSYS/PRETAB_single_wheel
ANSYS/buckling_analysis.m
*.cache
*.txt
*.exe
*.pdb
vgcore*
feanalysis
